<header class="header">
  <div class="container header-container">
    <a href="#" class="logo-link link"
      ><span class="logo-link-ital">SIMPLY&nbsp;</span>CHOCOLATE
      <svg class="logo-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-chocolate"></use>
      </svg>
    </a>
    <nav class="nav-header">
      <ul class="list nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#how_made" class="nav-link link">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a href="#our_products" class="nav-link link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#top_sellers" class="nav-link link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="social-list list">
      <li class="social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="nofollow"
          class="social-list-link link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="../img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="nofollow"
          class="social-list-link link"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="../img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="menu-toggle js-open-menu menu-hamburger-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-hamburger-icon">
        <use href="/img/icons.svg#burger"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="mobile-menu-container container">
        <button class="menu-toggle js-close-menu mobile-menu-close-btn">
          <svg class="mobile-menu-close-btn-icon">
            <use href="../img/icons.svg#close-icon"></use>
          </svg>
        </button>
        <ul class="mobile-nav-menu list">
          <li class="mobile-nav-item">
            <a href="#" class="mobile-menu-link link">Home</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#how_made" class="mobile-menu-link link">How it’s made?</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#our_products" class="mobile-menu-link link"
              >Our products</a
            >
          </li>
          <li class="mobile-nav-item">
            <a href="#top_sellers" class="mobile-menu-link link">Top sellers</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#reviews" class="mobile-menu-link link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
        <ul class="social-mobile-list list">
          <li class="social-item social-mobile-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="nofollow"
              class="social-list-link social-mobile-list-link link"
            >
              <svg class="social-icon">
                <use href="../img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item social-mobile-item">
            <a
              href="https://twitter.com"
              target="_blank"
              rel="nofollow"
              class="social-list-link social-mobile-list-link link"
            >
              <svg class="social-icon">
                <use href="../img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
