<section class="main container" id="home">
  <div class="main-bg">
    <h1 class="visually-hidden">Greet chocolate</h1>
    <h3 class="main_text">
      Treat yourself or a loved one to <span class="break"><br /></span>our
      finest ingredients for a moment of pure delight!
    </h3>
    <ul class="main-button">
      <li class="main_butt">
        <button class="buynow button_style" type="button">Buy now</button>
        <a class="howmade button_style" href="#howtomade">How it's made</a>
      </li>
      <li class="scroll">
        <p class="main_scroll">scroll down</p>
        <a class="main_scroll-cont" href="#footer" aria-label="Scroll down">
          <svg class="main_scroll-icon" aria-label="Scroll">
            <use href="./img/spraite.svg#icon-scroll"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
