<section class="main container" id="home">
  <div class="main-bg">
    <h1 class="visually-hidden">Greet chocolate</h1>
    <h3 class="main-text">
      Treat yourself or a loved one to <span class="break"><br /></span>our
      finest ingredients for a moment of pure delight!
    </h3>
    <ul class="main-button">
      <li class="main-butt">
        <button class="buynow button_style" type="button" id="open-buynow1">
          Buy now
        </button>
        <a class="howmade button_style" href="#howtomade">How it's made</a>
      </li>
      <li class="main-scroll-block">
        <p class="main-scroll">scroll down</p>
        <a class="main-scroll-cont" href="#footer" aria-label="Scroll down">
          <svg class="main-scroll-icon" aria-label="Scroll">
            <use href="/img/spraite.svg#icon-scroll"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
