<section id="how_made" class="how-its-made-section">
  <div class="how-its-made-container">
    <h2 class="how-its-made-title">
      HOW IT’S<span class="how-its-made-title-two"> MADE?</span>
    </h2>
    <div class="how-its-made-content">
      <iframe
        class="how-its-made-video"
        src="https://www.youtube.com/embed/yYWZsGSwaIs"
        title="YouTube video player"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="how-its-made-description">
        <h3 class="how-its-made-title-p">
          Try our chocolates today and <br />
          discover the perfect balance of flavor
        </h3>
        <ul class="how-its-made-list">
          <li class="how-its-made-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-text">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-text">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
