<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <button class="menu-toggle js-close-menu mobile-menu-close-btn">
      <svg class="mobile-menu-close-btn-icon">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <ul class="list mobile-nav-menu">
      <li class="mobile-nav-item js-menu-item">
        <a href="#" class="mobile-menu-link link">Home</a>
      </li>
      <li class="mobile-nav-item js-menu-item">
        <a href="#how_made" class="mobile-menu-link link">How it’s made?</a>
      </li>
      <li class="mobile-nav-item js-menu-item">
        <a href="#our_products" class="mobile-menu-link link">Our products</a>
      </li>
      <li class="mobile-nav-item js-menu-item">
        <a href="#top_sellers" class="mobile-menu-link link">Top sellers</a>
      </li>
      <li class="mobile-nav-item js-menu-item">
        <a href="#reviews" class="mobile-menu-link link">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="social-mobile-list list">
      <li class="social-item social-mobile-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="nofollow"
          class="social-list-link social-mobile-list-link link"
        >
          <svg class="social-icon">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item social-mobile-item">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="nofollow"
          class="social-list-link social-mobile-list-link link"
        >
          <svg class="social-icon">
            <use href="./img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
