<div id="buynow" class="modal">
  <div class="modal-buy">
    <button
      type="button"
      class="close modal-buy-close-btn"
      data-modal-close
      aria-label="Close"
    >
      <svg class="modal-buy-close-icon" width="12" height="12">
        <use href="./img/icons.svg#close-icon"></use>
      </svg>
    </button>
    <h2 class="modal-buy-title"><span class="title-orange">buy</span> now</h2>
    <ul class="modal-product-list list">
      <li class="modal-product-list-item">
        <img
          class="modal-buy-img"
          srcset="
            ./img/modal-buy/modal-buy-img1-84.png   84w,
            ./img/modal-buy/modal-buy-img1-120.png 120w,
            ./img/modal-buy/modal-buy-img1-168.png 168w,
            ./img/modal-buy/modal-buy-img1-240.png 240w
          "
          src="./img/modal-buy/modal-buy-img1-84.png"
          sizes="(min-width: 768px) 120px, 84px"
          alt="Kinder chokolate"
        /><span class="modal-buy-weight">100 g</span>
      </li>
      <li class="modal-product-list-item">
        <img
          class="modal-buy-img"
          srcset="
            ./img/modal-buy/modal-buy-img2-84.png   84w,
            ./img/modal-buy/modal-buy-img2-120.png 120w,
            ./img/modal-buy/modal-buy-img2-168.png 168w,
            ./img/modal-buy/modal-buy-img2-240.png 240w
          "
          src="../img/modal-buy/modal-buy-img2-84.png"
          sizes="(min-width: 768px) 120px, 84px"
          alt="Praline chokolate"
        /><span class="modal-buy-weight">200 g</span>
      </li>
      <li class="modal-product-list-item">
        <img
          class="modal-buy-img"
          srcset="
            ./img/modal-buy/modal-buy-img3-84.png   84w,
            ./img/modal-buy/modal-buy-img3-120.png 120w,
            ./img/modal-buy/modal-buy-img3-168.png 168w,
            ./img/modal-buy/modal-buy-img3-240.png 240w
          "
          src="./img/modal-buy/modal-buy-img3-84.png"
          sizes="(min-width: 768px) 120px, 84px"
          alt="Dark chokolate"
        /><span class="modal-buy-weight">300 g</span>
      </li>
    </ul>
    <form class="modal-buy-form">
      <label for="modal-buy-input-name" class="modal-buy-label">
        Personal information
      </label>
      <label for="modal-buy-input-surname" class="modal-buy-label"> </label>
      <div class="personal-information">
        <input
          class="modal-buy-input"
          type="text"
          name="form-buy-name"
          placeholder="Name"
          id="modal-buy-input-name"
        />

        <input
          class="modal-buy-input"
          type="text"
          name="form-buy-surname"
          placeholder="Surname"
          id="modal-buy-input-surname"
        />
      </div>
      <label for="modal-buy-input-email" class="modal-buy-label"> Email </label>
      <input
        class="modal-buy-input"
        type="email"
        name="form-buy-email"
        placeholder="Enter your email"
        id="modal-buy-input-email"
      />
      <label for="modal-buy-input-tel" class="modal-buy-label label-tel">
        Phone number
      </label>
      <div class="modal-buy-thumb-tel">
        <svg class="modal-buy-flag-icon" width="24" height="18">
          <use href="./img/icons.svg#Flag"></use>
        </svg>
        <p class="phone-prefix">+380</p>
        <input
          class="modal-buy-input input-tel"
          type="tel"
          maxlength="9"
          name="form-buy-tel"
          placeholder="Phone number"
          id="modal-buy-input-tel"
        />
      </div>

      <label for="modal-buy-input-card" class="modal-buy-label">
        Card number
      </label>
      <div class="modal-buy-thumb-card">
        <svg class="modal-buy-card-icon" width="32" height="21">
          <use href="./img/icons.svg#Mastercard"></use>
        </svg>
        <input
          class="modal-buy-input card-input"
          type="tel"
          pattern="^[0-9]{16}$"
          maxlength="16"
          name="form-buy-card"
          placeholder="Enter card"
          id="modal-buy-input-card"
        />
      </div>
      <label for="modal-buy-input-comment" class="modal-buy-label">
        Comment </label
      ><textarea
        class="modal-buy-textarea"
        name="Comment"
        rows="3"
        placeholder="Enter text"
        id="modal-buy-input-comment"
      ></textarea>
      <button class="btn-submit" type="submit">Submit</button>
    </form>
  </div>
  <div id="overlay-buynow_w" class="overlay"></div>
</div>
