  <!--Modal windown our-chokolate -->
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-btn-icon button-icon" width="8" height="8">
                <use href="/img/icons.svg#close-icon"></use>
            </svg>
        </button>
          <!-- Contact-form -->
          <p class="contact-title">Leave your contacts and we will call you back</p>
          <form class="contact-form">
              <label class="contact-form-field">
                  <span class="contact-form-input-desk">Name</span>
                  <span class="contact-form-input-wrapper">
                      <input 
                  type="text" 
                  class="contact-form-input"
                  name="user-name" 
                  required>
                  <span class="contact-form-input-icon">
                      <svg width="18" height="24">
                          <use href="./images/icons.svg#icon-person-black-18dp-1-1-1"></use>
                      </svg>
                  </span>
                  </span>
              </label>
              <label class="contact-form-field">
                  <span class="contact-form-input-desk">Phone</span>
                  <span class="contact-form-input-wrapper">
                  <input 
                  type="tel" 
                  class="contact-form-input" 
                  name="user-phone"
                  required>
                  <span class="contact-form-input-icon">
                      <svg width="18" height="24">
                          <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
                      </svg>
                  </span>
                  </span>
              </label>
              <label class="contact-form-field">
                  <span class="contact-form-input-desk">Email</span>
                  <span class="contact-form-input-wrapper">
                  <input 
                  type="email" 
                  class="contact-form-input"
                  name="user-email" 
                  required>
                  <span class="contact-form-input-icon">
                      <svg width="18" height="24">
                          <use href="./images/icons.svg#icon-email-black-18dp-1-1"></use>
                      </svg>
                  </span>
                  </span>
              </label>
              <label class="contact-form-field">
                  <span class="contact-form-input-desk">Comment</span>
          <textarea 
          name="user-massage" 
          class="contact-form-massage" 
          placeholder="Text input"
          ></textarea>
          </label>
          <div class="contact-form-fieldset">
              <input 
              type="checkbox" 
              class="contact-form-checkbox visually-hidden"
              name="user-privacy"
              id="user-privacy">
              <label for="user-privacy" class="contact-form-checkbox-text">
                  I accept the terms and conditions of the&nbsp;<a href="" class="contact-form-privacy">Privacy Policy</a>
              </label>
          </div>
          <div class="contact-form-btn-wrapper">
          <button type="submit" class="contact-form-btn">Send</button>
          </div>    
      </form>
      </div>
  </div>
  <script src="./js/modal.js" type="module"></script>
  <script src="./js/menu.js" type="module"></script>