<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/our-products.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
        rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <!-- Section Our Products -->
    <section>
        <h1 class="our-products-h1">Our <span class="our-products-span">Products</span></h1>
        <ul class="our-products-ul list">
            <li class="our-products-li">
                <img src="../img/our-product-img/orange.jpg" alt="Orange" class="our-products-img">
                <h2 class="our-products-h2">Orange</h2>
                <p class="our-products-p">Dark chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">45 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/apple-cranberry.jpg" alt="Apple&Cranberry" class="our-products-img">
                <h2 class="our-products-h2">Apple&Cranberry</h2>
                <p class="our-products-p">Milk chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">50 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/lime-sea-salt.jpg" alt="Lime&Sea salt" class="our-products-img">
                <h2 class="our-products-h2">Lime&Sea salt</h2>
                <p class="our-products-p">Dark chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">66 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/pineapple.jpg" alt="Pineapple" class="our-products-img">
                <h2 class="our-products-h2">Pineapple</h2>
                <p class="our-products-p">Dark chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">54 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/classik-milk.jpg" alt="Classic Milk" class="our-products-img">
                <h2 class="our-products-h2">Classic</h2>
                <p class="our-products-p">Milk chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">45 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/honey.jpg" alt="Honey" class="our-products-img">
                <h2 class="our-products-h2">Honey</h2>
                <p class="our-products-p">Milk chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">50 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/roasted-fruits.jpg" alt="Roasted fruits" class="our-products-img">
                <h2 class="our-products-h2">Roasted fruits</h2>
                <p class="our-products-p">Dark chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">66 UAH</p></button>
            </li>
            <li class="our-products-li">
                <img src="../img/our-product-img/classic-white.jpg" alt="Classic White" class="our-products-img">
                <h2 class="our-products-h2">Classic</h2>
                <p class="our-products-p">White chocolate</p>
                <button type="button" class="our-products-button"><p class="our-products-b-text">54 UAH</p></button>
            </li>
        </ul>
    </section>
</body>
</html>