<section id="our_products" class="section-pad our-products-section">
  <div class="our-products-container swiper mySwiper">
    <h2 class="our-products-h2">
      Our <span class="our-products-span">Products</span>
    </h2>
    <ul class="our-products-wrapper swiper-wrapper">
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/orange.jpg    1x,
            ./img/our-product-img/orange@2x.jpg 2x
          "
          src="./img/our-product-img/orange.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">Orange</h3>
        <p class="our-products-p">Dark chocolate</p>
        <div class="our-products-div-button">45 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/apple-cranberry.jpg    1x,
            ./img/our-product-img/apple-cranberry@2x.jpg 2x
          "
          src="./img/our-product-img/apple-cranberry.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">APPLE&CRANBERRY</h3>
        <p class="our-products-p">Milk chocolate</p>
        <div class="our-products-div-button">50 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/lime-sea-salt.jpg    1x,
            ./img/our-product-img/lime-sea-salt@2x.jpg 2x
          "
          src="./img/our-product-img/lime-sea-salt.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">lime&sea salt</h3>
        <p class="our-products-p">Dark chocolate</p>
        <div class="our-products-div-button">66 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/pineapple.jpg    1x,
            ./img/our-product-img/pineapple@2x.jpg 2x
          "
          src="./img/our-product-img/pineapple.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">pineapple</h3>
        <p class="our-products-p">Dark chocolate</p>
        <div class="our-products-div-button">54 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/classik-milk.jpg    1x,
            ./img/our-product-img/classic-milk@2x.jpg 2x
          "
          src="./img/our-product-img/classik-milk.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">Classic</h3>
        <p class="our-products-p">Milk chocolate</p>
        <div class="our-products-div-button">45 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/honey.jpg    1x,
            ./img/our-product-img/honey@2x.jpg 2x
          "
          src="./img/our-product-img/honey.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">honey</h3>
        <p class="our-products-p">Milk chocolate</p>
        <div class="our-products-div-button">50 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/roasted-fruits.jpg    1x,
            ./img/our-product-img/roasted-fruits@2x.jpg 2x
          "
          src="./img/our-product-img/roasted-fruits.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">Roasted fruits</h3>
        <p class="our-products-p">Dark chocolate</p>
        <div class="our-products-div-button">66 UAH</div>
      </li>
      <li class="our-products-card swiper-slide">
        <img
          srcset="
            ./img/our-product-img/classic-white.jpg    1x,
            ./img/our-product-img/classic-white@2x.jpg 2x
          "
          src="./img/our-product-img/classic-white.jpg"
          alt="Orange"
          class="our-products-img"
          width="230"
        />
        <h3 class="our-products-h3">Classic</h3>
        <p class="our-products-p">White chocolate</p>
        <div class="our-products-div-button">54 UAH</div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
