<section class="section-pad reviews-section" id="reviews">
  <div class="reviews-container swiper slide-container">
    <h2 class="reviews-title">
      <span class="accent-reviews-title">chocolate</span> is loved
    </h2>
    <div class="swiper-wrapper">
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/1.png 1x, ./img/reviews/ret-1.png 2x"
          src="./img/reviews/1.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Victoria Dobrzhanska</h3>
        <p class="reviews-card-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/2.png 1x, ./img/reviews/ret-2.png 2x"
          src="./img/reviews/2.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Nazar Babenko</h3>
        <p class="reviews-card-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/3.png 1x, ./img/reviews/ret-3.png 2x"
          src="./img/reviews/3.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Olena Kampusch</h3>
        <p class="reviews-card-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/4.png 1x, ./img/reviews/ret-4.png 2x"
          src="./img/reviews/4.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Natalia Sus</h3>
        <p class="reviews-card-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </div>
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/5.png 1x, ./img/reviews/ret-5.png 2x"
          src="./img/reviews/5.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Danilo Nottingham</h3>
        <p class="reviews-card-text">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </div>
      <div class="reviews-card swiper-slide">
        <img
          class="reviews-img-avatar"
          srcset="./img/reviews/6.png 1x, ./img/reviews/ret-6.png 2x"
          src="./img/reviews/6.png"
          alt="person avatar"
          width="80px"
        />
        <h3 class="reviews-person-avatar">Irina Tydnyuk</h3>
        <p class="reviews-card-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <button class="reviews-btn" type="button" id="open-review">
      Leave a review
    </button>
  </div>
</section>
