<section class="unique-components container">
  <div class="unique-item">
    <h2 class="item-text">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="logo-text"> TASTE</span> SENSATION
    </h2>
    <p class="text-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>

  <ul class="components">
    <li class="components-item flip-card list">
      <div class="components-chocolate flip-card-inner">
        <div class="flip-card-front">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/chocolate-206x160.png    1x,
                ./img/components/chocolate-206x106@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components/chocolate-224x171.png    1x,
                ./img/components/chocolate-224x171@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="img-style"
              src="./img/components/chocolate-224x171.png"
              alt="Chocolate"
              width="224"
              loading="lazy"
            />
          </picture>
          <p class="text-chocolate-nuts">MILK CHOCOLATE</p>
        </div>
        <div class="flip-card-back">
          <h3 class="flip-item">MILK CHOCOLATE</h3>
          <div class="button-section">
            <ul class="components-button list">
              <li class="components-item-flip">
                <button class="button-white">chocolate</button>
              </li>
              <li class="components-item-flip">
                <button class="button-black">the benefits</button>
              </li>
            </ul>
            <p class="text-description-flip">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="components-item flip-card list">
      <div class="components-milk flip-card-inner">
        <div class="flip-card-front">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/milk-206x106.png    1x,
                ./img/components/milk-206x106@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components/milk-224x171.png    1x,
                ./img/components/milk-224x171@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="img-style"
              src="./img/components/milk-224x171.png"
              alt="Milk"
              width="224"
              loading="lazy"
            />
          </picture>
          <p class="text-milk-semi">MILK</p>
        </div>
        <div class="flip-card-back">
          <h3 class="flip-item">MILK</h3>
          <div class="button-section">
            <ul class="components-button list">
              <li class="components-item-flip">
                <button class="button-white">milk</button>
              </li>
              <li class="components-item-flip">
                <button class="button-black">the benefits</button>
              </li>
            </ul>
            <p class="text-description-flip">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="components-item flip-card list">
      <div class="components-nuts flip-card-inner">
        <div class="flip-card-front">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/nuts-206x160.png    1x,
                ./img/components/nuts-206x160@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components/nuts-224x171.png    1x,
                ./img/components/nuts-224x171@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="img-style"
              src="./img/components/nuts-224x171.png"
              alt="Nuts"
              width="224"
              loading="lazy"
            />
          </picture>
          <p class="text-chocolate-nuts">NUTS</p>
        </div>
        <div class="flip-card-back">
          <h3 class="flip-item">NUTS</h3>

          <div class="button-section">
            <ul class="components-button list">
              <li class="components-item-flip">
                <button class="button-white">nuts</button>
              </li>
              <li class="components-item-flip">
                <button class="button-black">the benefits</button>
              </li>
            </ul>
            <p class="text-description-flip">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </div>
    </li>

    <li class="components-item flip-card list">
      <div class="components-semi flip-card-inner">
        <div class="flip-card-front">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/components/semi-206x160.png    1x,
                ./img/components/semi-206x160@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/components/semi-224x171.png    1x,
                ./img/components/semi-224x171@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="img-style"
              src="./img/components/semi-224x171.png"
              alt="Semi sweet-chocolate"
              width="224"
              loading="lazy"
            />
          </picture>
          <p class="text-milk-semi">SEMI - SWEET CHOCOLATE</p>
        </div>
        <div class="flip-card-back">
          <h3 class="flip-item">SEMI - SWEET CHOCOLATE</h3>
          <div class="button-section">
            <ul class="components-button list">
              <li class="components-item-flip">
                <button class="button-white">sweet chocolate</button>
              </li>
              <li class="components-item-flip">
                <button class="button-black">the benefits</button>
              </li>
            </ul>
            <p class="text-description-flip">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
