<section class="unique-components container">
  <div class="unique-item">
    <h2 class="item-text">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="logo-text"> TASTE</span> SENSATION
    </h2>
    <p class="text-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>

  <ul class="components">
    <li class="components-item list">
      <div class="components-chocolate">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/components/chocolate-206x106.png    1x,
              ../img/components/chocolate-206x106@2x.png 2x
            "
            type="image/"
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ../img/components/chocolate-206x106.png    1x,
              ../img/components/chocolate-206x106@2x.png 2x
            "
            type="image/"
          />
          <img
            class="img-style"
            src="../img/components/chocolate-224x171.png"
            alt="Chocolate"
            width="224"
            loading="lazy"
          />
        </picture>
        <p class="text-chocolate-nuts">MILK CHOCOLATE</p>
      </div>
    </li>

    <li class="components-item list">
      <div class="components-milk">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/components/milk-206x106.png    1x,
              ../img/components/milk-206x106@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ../img/components/milk-224x171.png    1x,
              ../img/components/milk-224x171@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="img-style"
            src="../img/components/milk-224x171.png"
            alt="Milk"
            width="224"
            loading="lazy"
          />
        </picture>
        <p class="text-milk-semi">MILK</p>
      </div>
    </li>

    <li class="components-item list">
      <div class="components-nuts">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/components/nuts-206x160.png    1x,
              ../img/components/nuts-206x106@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ../img/components/nuts-224x171.png    1x,
              ../img/components/nuts-224x171@2x.png 2x
            "
            type="image/png"
          />

          <img
            class="img-style"
            src="../img/components/nuts-224x171.png"
            alt="Nuts"
            width="224"
            loading="lazy"
          />
        </picture>
        <p class="text-chocolate-nuts">NUTS</p>
      </div>
    </li>

    <li class="components-item list">
      <div class="components-semi">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/components/nuts-206x106.png    1x,
              ../img/components/nuts-206x106@2x.png 2x
            "
            type="image/"
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              ../img/components/semi-224x171.png    1x,
              ../img/components/semi-224x171@2x.png 2x
            "
            type="image/"
          />

          <img
            class="img-style"
            src="../img/components/semi-224x171.png"
            alt="Semi sweet-chocolate"
            width="224"
            loading="lazy"
          />
        </picture>
        <p class="text-milk-semi">SEMI - SWEET CHOCOLATE</p>
      </div>
    </li>
  </ul>
</section>
