/**
  |============================
  | Features style
  |============================
*/
/*--- mobile: верстка гумова від 320px,
стає адаптивною на 375px;
- tablet: 768px;
- desktop: 1200px--*/

.advantages-section {
    background-color: var(--secondary-color);
    padding: 20px 0;
}

@media only screen and (min-width: 768px) {
    .advantages-section {
        padding: 50px 0;
    }
}


/* Basic styles */
.containeradv {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .containeradv {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .containeradv {
        max-width: 1200px;
    }
}

.advantages-container {
    display: flex;
    align-items: center;
    justify-content: start;
}



.visually-hidden {}

.advantages-list {}

@media only screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
    }
}


.list {}

.advantages-list-item {
    width: 308px;
    padding-bottom: 18px;
}


.advantages-list-item:not(:last-child) {
    margin-bottom: 20px;
}



@media only screen and (min-width: 768px) {
    .advantages-list-item:first-child {
        margin-bottom: 32px;
        margin-right: 32px;

    }

    .advantages-list-item:last-child {
        padding-right: 0;
        padding-bottom: 35px;
    }
}

@media only screen and (min-width: 1200px) {
    .advantages-list-item:not(:last-child) {
        margin-bottom: 0;

        /* padding-bottom: 18px;
        padding-right: 18px; */
    }


    .advantages-list-item:first-child {
        margin: 0;

    }

    .advantages-list-item:last-child {
        padding-bottom: 0;
    }

    .advantages-list-item {
        padding-bottom: 0;
    }
}



@media only screen and (min-width: 1200px) {
    .container-trans::before {
        display: flex;
        flex-wrap: wrap;
        content: "";
        width: 124px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: rotate(-90deg) translateX(-124px) translateY(-132px);
        /* transform-origin: top; */
    }
}



@media only screen and (min-width: 1200px) {
    .advantages-list {
        gap: 88px;
    }
}


.icon-advantages-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;

    margin-bottom: 22px;
}

.icon-advantages {
    /* background: linear-gradient(0deg, #FD9222, #FD9222), #000000; */
    fill: var(--main-color);
    background-size: cover;

}

.advantages-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--color-white);
    margin-bottom: 18px;
}

.advantages-desc {
    max-width: 308px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.7);
}