:root {
  --primary-font: 'Montserrat', sans-serif;
  --main-color: #fd9222;
  --secondary-color: #1e1823;
  --accent-color: #fcf1e0;
  --main-text-color: #111111;
  --text-color-dark-bg: #fafafa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.img-style {
  position: absolute;
  margin: 28px 55px 71px 56px;
}

@media screen and (min-width: 1200px) {
  .img-style {
    margin: 28px 36px 82px 28px;
  }
}

.unique-item {
  width: 335px;
  height: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 786px) {
  .unique-item {
    width: 486px;
    margin-bottom: 50px;
  }
}

.item-text {
  width: 335px;
  height: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  color: #111111;
}

@media screen and (min-width: 786px) {
  .item-text {
    width: 411px;
    margin-bottom: 28px;
  }
}

.logo-text {
  color: var(--main-color);
}

.text-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  row-gap: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .components {
    width: 704px;
  }
}

@media screen and (min-width: 1200px) {
  .components {
    gap: 19px;
  }
}

.components-chocolate {
  background-color: var(--main-color);
  height: 270px;
  width: 335px;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  .components-chocolate {
    width: 270px;
  }
}

.components-milk {
  background-color: #ffffff;
  height: 270px;
  width: 335px;
  border-radius: 15px;
  border: 1px solid #fd9222;
}
@media screen and (min-width: 1200px) {
  .components-milk {
    width: 270px;
  }
}

.components-nuts {
  background-color: var(--secondary-color);
  height: 270px;
  width: 335px;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  .components-nuts {
    width: 270px;
  }
}

.components-semi {
  background-color: #ffffff;
  height: 270px;
  width: 335px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
}

@media screen and (min-width: 1200px) {
  .components-semi {
    width: 270px;
  }
}

.logo-text {
  color: var(--main-color);
}
.components-item {
  position: relative;
}
.text-chocolate-nuts {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.text-milk-semi {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}
