.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.footer {
  max-width: 375px;
  margin: auto;
  background-color: var(--secondary-color);
}
@media only screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    margin: auto;
  }
}
.footer-common-container {
  padding: 32px 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer-common-container {
    max-width: 768px;
    padding: 50px 32px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-common-container {
    max-width: 1200px;
    padding: 50px 32px;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-subtitle {
  width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--text-color-dark-bg);
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-subtitle {
    font-size: 28px;
    line-height: 1.21;
  }
}
.subtitle-word {
  color: var(--main-color);
}
.subtitle-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-color-dark-bg);
  margin-bottom: 14px;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .contacts-container {
    gap: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-container {
    gap: 63px;
  }
}
.mail-tel-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--text-color-dark-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-contacts-link:hover,
  .footer-contacts-link:focus {
    color: var(--main-color);
  }
}

.footer-contacts-list {
}

.footer-contacts-item {
  margin-bottom: 4px;
}
.footer-socials-list {
  display: flex;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .footer-socials-list {
    gap: 18px;
  }
}
.socials-item {
}
.footer-socials-link {
}
@media screen and (min-width: 1200px) {
  .footer-socials-link:hover .icon-footer,
  .footer-socials-link:focus .icon-footer {
    stroke: var(--main-color);
  }
}

.icon-footer {
  stroke: #ffffff;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    gap: 24px;
  }
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--text-color-dark-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--main-color);
  }
}

.devider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .devider {
    margin-bottom: 24px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .devider {
    margin-top: 62pxpx;
  }
}
