html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 100px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

:root {
  --bgcolor: #fafafa;
  --bgfooter: #1e1823;
  --maincolorfont: #111111;
  --color_wh: #ffffff;
  --bg-button: #fd9222;
  --bg-button_hover: #fcf1e0;
  --basicfont: 'Montserrat', sans-serif;
  --basicletspace: 0.02em;
}

body {
  background-color: var(--bgcolor);
  color: var(--maincolorfont);
  font-family: var(--basicfont);
  letter-spacing: var(--basicletspace);
  min-width: 320px;
}

/* Доп class  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color_wh);
}

.address {
  font-style: normal;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  padding-bottom: 72px;
}

.icon {
  display: flex;
}

.main-bg {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(./img/mobile/chocolate-covered-cocoa-powder.jpg);
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  padding: 395px 20px 20px 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./img/mobile/chocolate-covered-cocoa-powder@2x.jpg);
  }
}

.button_style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color_wh);
  border-radius: 100px;
  border: none;
}

.main_text {
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color_wh);
}

.main_butt {
  display: inline-flex;
  justify-content: center;
  gap: 14px;
  margin-top: 32px;
}

.scroll {
  display: inline-flex;
  align-items: center;
  margin-top: 32px;
}

.main_scroll {
  display: inline-flex;
  margin-right: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--color_wh);
}

.main_scroll-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color_wh);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_scroll-cont:hover,
.main_scroll-cont:focus {
  background-color: var(--bg-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_scroll-icon {
  width: 16px;
  height: 15px;
  fill: var(--bg-button);
  stroke: var(--bg-button);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main_scroll-cont:hover .main_scroll-icon,
.main_scroll-cont:focus .main_scroll-icon {
  fill: var(--color_wh);
  stroke: var(--color_wh);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buynow {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  background: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.howmade {
  width: 159px;
  background-color: transparent;
  outline: 1px solid var(--color_wh);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feed {
  width: 165px;
  padding: 0;
  outline: 1px solid var(--bg-button);
  color: var(--maincolorfont);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs {
  width: 120px;
  padding: 12px 28px;
  background: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orange_text {
  color: var(--bg-button);
}

.buynow:hover,
.buynow:focus,
.subs:hover,
.subs:focus {
  color: var(--bg-button);
  background-color: var(--bg-button_hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feed:hover,
.feed:focus {
  color: var(--color_wh);
  background-color: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.howmade:hover,
.howmade:focus {
  outline: 1px solid var(--bg-button);
  color: var(--bg-button);
  background-color: var(--color_wh);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .break {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 32px;
    padding-bottom: 72px;
  }

  /* Секция Main */

  .main-bg {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(./img/tablet/chocolate-covered-cocoa-powder.jpg);
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    padding: 671px 40px 40px 40px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(./img/tablet/chocolate-covered-cocoa-powder@2x.jpg);
    }
  }

  .main_text {
    padding-right: 140px;
    font-size: 28px;
    line-height: 1.21;
  }

  .button_style {
    height: 45px;
  }

  .buynow {
    width: 144px;
  }

  .howmade {
    width: 183px;
  }

  .topsel_img .buynow {
    width: 162px;
  }

  .feed {
    width: 222px;
  }

  .subs {
    width: 172px;
  }

  .main-button {
    display: flex;
    justify-content: space-between;
  }

  .scroll {
    margin-left: 149px;
  }

  .main_scroll {
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
  }

  .main_scroll-cont {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    padding-bottom: 72px;
  }

  /* Секция Main */

  .main-bg {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(./img/desktop/chocolate-covered-cocoa-powder.jpg);
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    padding: 361px 40px 40px 40px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-bg {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(./img/desktop/chocolate-covered-cocoa-powder@2x.jpg);
    }
  }

  .main_text {
    padding-right: 572px;
    font-size: 28px;
    line-height: 1.21;
  }
}
