<<<<<<< Updated upstream
=======

.modal-explore-menu-container {
  background: #FAFAFA;
  border-radius: 15px;
  overflow: hidden;
}

.modal {
  width: 90%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 32px;
}

.modal-explore-menu-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

.modal-explore-menu-close-icon {
  stroke: #FFFFFF;
  width: 24px;
  height: 24px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-explore-menu-close-btn:hover .modal-explore-menu-close-icon,
.modal-explore-menu-close-btn:focus .modal-explore-menu-close-icon {
  stroke: var(--main-color);
}

.modal-explore-picture {
  margin-bottom: 32px;
}

.modal-window-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  padding: 0px 24px;
  margin-bottom: 24px;
}

.akcent-text {
  color: var(--main-color);
}

.send-form {
  position: relative;
  padding: 0px 24px;
}

.modal-explore-form-input {
  width: 263px;
  height: 45px;
  border-radius: 100px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 25px;
  background-color: inherit;
  padding-left: 18px;
}

.modal-explore-form-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  
}

.modal-explore-btn {
  position: absolute;
  right: 24px;
  width: 100px;
  height: 45px;
  z-index: 1;
  background: #FD9222;
  border-radius: 100px;
  border: none;
}



@media screen and (min-width:375px){
  .modal {
    max-width: 311px;
    height: 350px;
  }
}

@media screen and (min-width:768px) {
  .modal {
    max-width: 538px;
    height: 412px;
  }

  .modal-explore-menu-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-explore-menu-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-explore-picture {
    margin-bottom: 40px;
  }

  .modal-window-name {
    font-size: 24px;
    line-height: 1.17;
    padding: 0px 40px;
    margin-bottom: 28px;
  }

  .send-form {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }

  .modal-explore-form-input {
    width: 313px;
    height: 52px;
    padding-left: 24px;
  }

  .modal-explore-form-input::placeholder {
    font-size: 18px;
  }

  .modal-explore-btn {
    position: static;
    width: 137px;
    height: 52px;
  }
}

>>>>>>> Stashed changes
