/* RESET */
@import url('./reset.css');
@import url('./components.css');
/* /RESET */

/* MAIN */
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
/* /MAIN */

/* FOOTER */
@import url('./footer.css');
/* /FOOTER */

/* MODAL WINDOW */
@import url('./modal-buy-now.css');
@import url('./modal-review.css');
@import url('./modal-explore-our-chokolate.css');
/* /MODAL WINDOW */
