.subscribe {
  max-width: 1200px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  background-image: url(/img/subscribe/Subcribe-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 62px;
  padding-bottom: 63px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(/img/subscribe/Subcribe-mob@2x.jpg);
  }
}
@media only screen and (min-width: 376px) {
  .subscribe {
    background-image: url(/img/subscribe/Subcribe-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(/img/subscribe/Subcribe-tab@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
  .subscribe {
    background-image: url(/img/subscribe/Subcribe-desk.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(/img/subscribe/Subcribe-desk@2x.jpg);
    }
  }
}
@media only screen and (min-width: 768px) {
  .subscribe {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.container_subscribe {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
  font-style: normal;
  color: var(--color-white);
}
/* Tablet screen*/
@media only screen and (min-width: 768px) {
  .container_subscribe {
    max-width: 768px;
  }
}
/* Desktop screen*/
@media only screen and (min-width: 1200px) {
  .container_subscribe {
    max-width: 1200px;
    padding: 0 px;
  }
}
.title_subscribe {
  width: 291px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .title_subscribe {
    width: 378px;
    font-size: 24px;
    line-height: 28px;
  }
}
.subtitle_subscribe {
  max-width: 326px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;
  margin: auto;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .subtitle_subscribe {
    max-width: 467px;
  }
}
.subscribe_btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
  background-color: var(--main-color);
  min-width: 128px;
  height: 41px;
  padding: 11px 27px;
  border: none;
  border-radius: 100px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .subscribe_btn {
    font-size: 18px;
    line-height: 22px;
    min-width: 172px;
    height: 50px;
    padding: 13px 39px;
  }
}
.subscribe_btn:hover,
.subscribe_btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}
