.top-sellers-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .top-sellers-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .top-sellers-container {
    max-width: 1200px;
  }
}

.top-sellers-header {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .top-sellers-header {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.top-sellers-header-black {
  color: var(--main-text-color);
}

.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 150px;
}

@media only screen and (min-width: 768px) {
  .top-sellers-list {
    gap: 16px;
  }
}

.top-sellers-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .top-sellers-item {
    gap: 32px;
    max-width: 344px;
  }
}

@media only screen and (min-width: 1200px) {
  .top-sellers-item {
    max-width: 368px;
  }
}

.top-sellers-item-none {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .top-sellers-item-none {
    display: block;
  }
}

.top-sellers-img {
  width: 335px;
  height: 464px;
}

@media only screen and (min-width: 768px) {
  .top-sellers-img {
    width: 344px;
    height: 464px;
  }
}

@media only screen and (min-width: 1200px) {
  .top-sellers-img {
    width: 368px;
  }
}

.top-sellers-content-mob {
  max-width: 306px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-right: auto;

  color: var(--main-text-color);
}

@media only screen and (min-width: 768px) {
  .top-sellers-content-mob {
    display: none;
  }
}

.top-sellers-content {
  display: none;
  max-width: 306px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-right: auto;

  color: var(--main-text-color);
}

@media only screen and (min-width: 768px) {
  .top-sellers-content {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .top-sellers-content {
    max-width: 407px;
  }
}

.top-sellers-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  border: none;

  color: #ffffff;
  width: 120px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;

  background: var(--main-color);
  border-radius: 100px;
  transition: color;
}

@media only screen and (min-width: 768px) {
  .top-sellers-button {
    font-size: 18px;
    margin-right: 0;
    width: 162px;
    height: 50px;
  }
}

.top-sellers-button:hover,
.top-sellers-button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.button-container {
  display: flex;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .top-sellers-button-container {
    margin-top: 32px;
  }
}
