.unique-components {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .unique-components {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .unique-components {
    max-width: 1200px;
  }
}

.img-style {
  position: absolute;
  padding: 28px 55px 71px 56px;
}

@media screen and (min-width: 1200px) {
  .img-style {
    padding: 28px 36px 82px 28px;
  }
}

.unique-item {
  max-width: 335px;
  height: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .unique-item {
    max-width: 486px;
    margin-bottom: 50px;
  }
}

.unique-item-text {
  max-width: 335px;
  height: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .unique-item-text {
    max-width: 411px;
    margin-bottom: 28px;
  }
}

.unique-logo-text {
  color: var(--main-color);
}

.unique-text-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.text-description-flip {
  width: 100%;
  height: 146px;
  overflow-y: scroll;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  align-items: flex-start;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .text-description-flip {
    height: 162px;
  }
}

.scroll-sweet {
  height: 146px;
}

@media screen and (min-width: 1200px) {
  .scroll-sweet {
    height: 140px;
  }
}

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0;
  gap: 20px;
  align-items: center;
  margin-top: 0;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .components {
    width: 704px;
    gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .components {
    gap: 19px;
    width: 1136px;
  }
}

.unique-components {
  padding-bottom: 72px;
  padding-top: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unique-components {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .unique-components {
    padding-bottom: 128px;
    padding-top: 128px;
  }
}

.logo-text {
  color: var(--main-color);
}
.text-chocolate-nuts {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.text-milk-semi {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.name-ingridient-white {
  display: flex;
  border-radius: 35px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  align-items: center;
  color: var(--color-white);
}

.text-container {
  background: var(--main-color);
  border-radius: 35px;
  padding: 6px 16px;
  height: 24px;
}

.name-ingridient-black {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--main-text-color);
  justify-content: center;
}
.text-container-black {
  background-color: var(--text-color-dark-bg);
  border-radius: 35px;
  border: 1px solid var(--main-color);
  padding: 6px 16px;
  height: 24px;
}
.text-container-black-sweet {
  background-color: var(--text-color-dark-bg);
  border-radius: 35px;
  border: 1px solid var(--main-color);
  padding: 6px 10px;
  height: 24px;
}

.components-button {
  display: flex;
  margin-bottom: 14px;
  gap: 6px;
}

.flip-item {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.components-item-flip {
  position: relative;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 28px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
@media screen and (min-width: 1200px) {
  .flip-card-back {
    padding: 20px;
  }
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.components-item {
  width: 335px;
  height: 270px;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  .components-item {
    width: calc((100% - 57px) / 4);
  }
}
.components-chocolate {
  height: 270px;
}

.flip-card-front-milk_ch {
  background-color: var(--main-color);
}
.components-milk {
  background-color: var(--color-white);
  height: 270px;
}
.flip-card-front {
  border-radius: 15px;
  border: 1px solid var(--main-color);
}
.components-nuts {
  height: 270px;
  border: none;
}
.flip-card-front-nuts {
  border-radius: 15px;
  background-color: var(--secondary-color);
}
.components-semi {
  background-color: var(--color-white);
  height: 270px;
}

.text-container {
  padding: 6px 16px;
  height: 24px;
  background: #fd9222;
  border-radius: 35px;
}
.text-container-light {
  background-color: #fafafa;
  border: 1px solid #fd9222;
}
.name-ingridient {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.name-ingridient-black {
  color: black;
}
