.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.img-style {
  position: absolute;
  margin: 28px 55px 71px 56px;
}

@media screen and (min-width: 1200px) {
  .img-style {
    margin: 28px 36px 82px 28px;
  }
}

.unique-item {
  width: 335px;
  height: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .unique-item {
    width: 486px;
    margin-bottom: 50px;
  }
}

.item-text {
  width: 335px;
  height: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .item-text {
    width: 411px;
    margin-bottom: 28px;
  }
}

.logo-text {
  color: var(--main-color);
}

.text-description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.text-description-flip {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  align-items: flex-start;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.components {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 0;
  margin-bottom: 20px;
  row-gap: 32px;
  align-items: center;
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .components {
    width: 704px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .components {
    gap: 18.5px;
    margin-bottom: 0;
    width: 1136px;
  }
}

.unique-components {
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .unique-components {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .unique-components {
    padding-bottom: 128px;
  }
}

.components-chocolate {
  background-color: var(--main-color);
  height: 270px;
  width: 335px;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  .components-chocolate {
    width: 270px;
  }
}

.components-milk {
  background-color: var(--color-white);
  height: 270px;
  width: 335px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
}
@media screen and (min-width: 1200px) {
  .components-milk {
    width: 270px;
  }
}

.components-nuts {
  background-color: var(--secondary-color);
  height: 270px;
  width: 335px;
  border-radius: 15px;
}

@media screen and (min-width: 1200px) {
  .components-nuts {
    width: 270px;
  }
}

.components-semi {
  background-color: var(--color-white);
  height: 270px;
  width: 335px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
}

@media screen and (min-width: 1200px) {
  .components-semi {
    width: 270px;
  }
}

.logo-text {
  color: var(--main-color);
}

.components-item-flip {
  position: relative;
  gap: 6px;
}

.text-chocolate-nuts {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.text-milk-semi {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.button-white {
  display: flex;
  justify-content: center;
  padding: 6px 16px;
  width: 100%;
  height: 24px;
  background-color: var(--main-color);
  border-radius: 35px;
  border: none;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  align-items: center;
  color: var(--color-white);
}

.button-black {
  display: flex;
  justify-content: center;
  padding: 6px 16px;
  gap: 4px;
  width: 100%;
  height: 24px;
  background-color: var(--text-color-dark-bg);
  border: 1px solid var(--main-color);
  border-radius: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--main-text-color);
}

.components-button {
  display: flex;
  margin-bottom: 14px;
}

.flip-item {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.components-item-flip {
  margin-right: 6px;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media screen and (min-width: 1200px) {
  .flip-card-back {
    padding: 20px;
  }
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
